/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/appold
.env
/db_access
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.trash
/.cache
/.scribe
/SAFTS
